/** @format */

.app-sidebar {
  height: 100vh;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 150px;
  max-width: 390px;
  display: flex;
  border-right: #e9e9e9 1px solid;
  flex-direction: row;
  background: #000000;
  box-shadow: -8px 2px 22px -7px rgba(0, 0, 0, 0.25);
  /* border-radius: 10px 0px 0px 10px; */
  z-index: 2;
}

.app-sidebar .app-sidebar-content {
  flex: 1;
}

.app-sidebar .app-sidebar-resizer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 6px;
  justify-self: flex-end;
  cursor: col-resize;
  resize: horizontal;
}

.app-sidebar .app-sidebar-resizer:hover {
  width: 3px;
  background: #c1c3c5b4;
}
.sidebar_frame {
  width: 100vw;
  height: 100vh;
}
.spotify_logo {
  width: 137px;
  height: 40px;
  color: white;
}
.sidebar_items {
  padding-left: 25px;
  height: 100vh;
}
.sidebar_items > div {
  padding-top: 25px;
}
.sidebar_items > div > span {
  margin-left: 15px;
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  color: white;
}
.scroll_bar {
  min-height: 100px;
  max-height: calc(100vh - 350px);
  font-size: 0.8em;
  font-weight: 300;
  overflow: auto;
  border-top: 1px solid;
  margin-top: 20px;
  color: #212020;
}
.sidebar_footer {
  position: fixed;
  justify-self: baseline;
}
