.player {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100vw;
  height: 90px;
  /* background-color: #2b2a2a; */
  background: rgb(57, 56, 54);
  display: grid;
  /* align-items: center; */
  place-items: center;
  justify-content: center;
  color: antiquewhite;
}

.left_section {
   height: 100%;
   width:25%
}
.left_section>img{
    height: 4em;
    width: 4em;
}
.left_section>div>div {
    font-size: 12px;
}
.left_section>div>.artist_name{
    max-width: 100vw;
    overflow: hidden;
}
.center_section {
   height: 100%;
   width: 55%
}
.right_section {
   height: 100%;
   width: 25%
}
.progress-bar {
    width: 55vh;
    height: 5px;
}
.volume_progress_bar {
    width: 100px;
    height: 5px
}